# Pokemon
Plotten met Seaborn. Zijn de stellingen waar of niet. Hieronder vind je er alles over.

In [11]:
import pandas as pd
df = pd.read_csv("pokemon_small.csv")
SecHighestVal = df[df["Stage"] == 1]["Total"].sort_values()[-2:].min()
RightStatPoke = df[df["Total"] >= SecHighestVal]
BestStage1 = RightStatPoke[RightStatPoke["Stage"]== 1]
BestStage1

,Unnamed: 0,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
149,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False